.navbar {
  /* background-color: #333333; */
  margin-bottom: 0;
}
section {
  margin: 0;
}

.navbar-brand {
  color: #ff5c33 !important;
}

.navbar-right {
  font-size: 15px ;
}

.typed-text {
  padding: 30px;
}

.jumbotron {
  margin: 0;
  padding: 50px 0 0 0;
}

.text-section {
  margin-left: 14%;
  margin-right: 14%;
  text-align: center;
}

section h2 {
  margin-bottom: 30px;
}
#showcase .jumbotron {
  background-color: #3498db;
  color: #eee;
}
#showcase a {
  color: #333;
}
#about .jumbotron {
  background-color: #EEEEEE;
}
#projects {
  color: #000000;
}
#projects small {
  color: #000000;
}
#contact {
  padding: 10px 0 30px 0;
}
#contact a.btn {
  margin-right: 10px;
}
footer {
  background-color: #333333;
  color: #AAAAAA;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-left: auto;
  margin-right: auto;
}

footer a.btn {
  background-color: #333333;
  color: #AAAAAA; 
}
/* Overlay effect */
.thumbnail {
  position: relative;
  padding: 0; 
  width: 350px;
  height: 200px;
  background-color: #34495e;
  color: #eee;
  border-color: #34495e;
  text-align: center;
  line-height: 240px;
}

.Nothing {
  height: 300px;
  width: 300px;
}

.thumbnail:hover {
  color: #666;
}
.overlay {
  /* Starts invisible */
  opacity: 0;

  color: #EEEEEE;
  transition: opacity .5s;
  text-align: center;
}
.overlay:hover {
  opacity: 0.75;
  transition: opacity .5s;
}
.overlay .overlay-icon {
  
  /* Positions the overlay at the image origin (top left corner) */
  position: absolute;
  top: 0;
  left: 0;
  
  /* Set the overlay's size the same as the thumbnail's */
  width: 100%;
  height: 100%;
  
  line-height: 150px;
  background-color: #333333;
  
}
.overlay-caption {
  /* Positions the caption below the overlay's icon */
  position: absolute;
  top: 70%;
  left: 0;
  
  /* Set the overlay's size the same as the thumbnail's */
  width: 100%;
  height: 30%;
  
  background-color: #111;
}
.typed-text {
  margin-top: 30px
}

button {
  cursor: pointer;
}

